<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Dress code:</strong>
    <%= event.dress_code %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

</div>
