<%= stylesheet_link_tag "events", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

<%= render @event %>

<div>
<br>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <br><br>
  <%= button_to "Delete event", @event, method: :delete, class:"d-btn" %>
</div>
