<!DOCTYPE html>
<html>
  <head>
    <title>Eventsapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="application.css">
</head>
  <nav>
        <ul>
            <li>
                <strong> <%= link_to "EVENTS APP", root_path %> </strong>
            </li>
            <li>
                <%= link_to "Events", events_path %>
            </li>

            <% if user_signed_in? %>
            
              <li>
                  <%= link_to "Add event", new_event_path %>
              </li>

              <li>
                  <%= link_to "Edit profile", edit_user_registration_path %>
              </li>
              <li>
                  <%= link_to('Sign out', destroy_user_session_path, :method => 'delete') %>
              </li>

            <% else %>

              <li>
                  <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li>
                  <%= link_to "Sign in", new_user_session_path %>
              </li>

            <% end %>
        </ul>
    </nav>

  <body>

    <div class="content">

      <% if notice %>
        <%= render 'layouts/alerts' %>
      <% end %>

      <%= yield %>
    </div>

  </body>

</html>
